<div th:fragment="header">
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/gcheak/add"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Enterprise" data-translation="Курицы" data-ch="0" data-type="trSpan">Добавить Курятник</ya-tr-span></a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#"><ya-tr-span data-index="7-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Support" data-translation="Яйца" data-ch="0" data-type="trSpan">Добавить Курицу</ya-tr-span></a>
    <a class="py-2 link-body-emphasis text-decoration-none" href="#"><ya-tr-span data-index="8-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Pricing" data-translation="Главная" data-ch="0" data-type="trSpan">Добавить Яйца</ya-tr-span></a>
</nav>
    </div>